<%if content=="css"%>
<link rel='stylesheet' type='text/css' href="<%= data%>"/>
<%elsif content=="js"%>
<% data.each do |js_url| %>
<script type='text/javascript' src='<%= js_url%>'></script>
<%end%>
<%end%>