<div id="footer" class="global-nav-footer">

  <div class="footer-wrapper-social">
    <div class="container">
      <div class="footer-links-social">
        <ul id="footer-links-social" class="global-nav-list-justified">
          <li><a href="https://twitter.com/REALTORdotcom" data-omtag="footer:social:tw"><i class="svg-icon svg-icon-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/realtor.com" data-omtag="footer:social:fb"><i class="svg-icon svg-icon-facebook"></i></a></li>
          <li><a href="https://plus.google.com/+REALTORdotcom/posts" data-omtag="footer:social:gp"><i class="svg-icon svg-icon-google-plus"></i></a></li>
          <li><a href="https://www.pinterest.com/realtordotcom/" data-omtag="footer:social:pt"><i class="svg-icon svg-icon-pinterest"></i></a></li>
        </ul>
      </div>
      <div class="footer-links-network">
        <a id="footer-link-houselogic" href="http://www.houselogic.com/?nicmp=hlim%26nichn=footerlink%26niseg=rc" data-omtag="footer:partners:houseLogic"> <i class="svg-logo svg-logo-houselogic"></i> </a>
        <a id="footer-link-realtoru" href="http://www.realtoru.com/about/" data-omtag="footer:partners:realtorUniv"> <i class="svg-logo svg-logo-realtoru"></i> </a>
      </div>
    </div>
  </div>

  <div class="footer-wrapper-links-main">
    <div class="container">
      <ul id="footer-links-primary" class="global-nav-list-horizontal">
        <li><a href="http://marketing.move.com/" data-omtag="footer:corp:about">About Us</a></li>
        <li><a href="https://ch.tbe.taleo.net/CH11/ats/careers/searchResults.jsp?org=MOVE&amp;cws=1" data-omtag="footer:corp:careers">Careers</a></li>
        <li><a href="#" id="global-nav-feedback" data-omtag="footer:corp:feedback">Feedback</a></li>
        <li><a href="http://news.move.com/" data-omtag="footer:corp:mediaRoom">Media Room</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-wrapper-links-secondary">
    <div class="container">
      <ul id="footer-links-secondary" class="global-nav-list-horizontal">
        <li><a href="http://www.move.com/company/privacy.aspx#oba_anchor" data-omtag="footer:corp:ad-choices">Ad Choices</a></li>
        <li><a href="http://marketing.realtor.com/advertise/" data-omtag="footer:corp:advertise">Advertise with us</a></li>
        <li><a href="http://support.realtor.com/#iid=rdc_hdr_realtors_support" data-omtag="footer:corp:agentSupport">Agent support</a></li>
        <li>
          <a id="toggle-products" rel="popover" href="javascript:void(0)" data-placement="top" data-popover-content="#footer-popover-products" data-original-title="" title=""> Products </a>
          <div id="footer-popover-products" class="global-nav-hide footer-popover-content">
            <ul class="global-nav-list-unstyled">
              <li><a href="http://www.listhub.com/home.html" data-omtag="footer:products:listHub">ListHub</a></li>
              <li><a href="http://www.tigerlead.com/" data-omtag="footer:products:tigerlead">TigerLead</a></li>
              <li><a href="http://www.topproducer.com/" data-omtag="footer:products:topProducer">Top Producer</a></li>
              <li><a href="http://www.homefair.com/" data-omtag="footer:partners:homeFair">Homefair</a></li>
              <li><a href="http://www.homeinsight.com/" data-omtag="footer:partners:homeInsight">Home Insight</a></li>
              <li><a href="http://www.move.com/" data-omtag="footer:partners:move">Move.com</a></li>
              <li><a href="http://www.relocation.com/" data-omtag="footer:partners:relocation">Relocation</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="http://www.move.com/company/privacy.aspx" data-omtag="footer:corp:privacy">Privacy</a> / <a href="http://marketing.move.com/terms-of-service/" data-omtag="footer:corp:terms">Terms</a>
        </li>
        <li><a href="http://www.realtor.com/sitemap.asp" data-omtag="footer:corp:sitemap">Sitemap</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-wrapper-copyright">
    <div class="container">
      <p id="footer-copyright">
        &copy;1995-2015 <a href="http://www.realtor.org" data-omtag="footer:corp:nar">National Association of REALTORS<sup>&reg;</sup></a> and <a href="http://www.move.com/">Move, Inc.</a> All rights reserved.<br>
        realtor.com<sup>&reg;</sup> is the official site of the National Association of REALTORS<sup>&reg;</sup> and is operated by Move, Inc., a subsidiary of News Corp.
      </p>
    </div>
  </div>

</div>