<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Test Page</title>
  <link rel="stylesheet" media="all" href="css/app.css"/>
</head>
<body>
<nav class="global-navbar global-navbar-default global-nav-header" id="header-navbar">
    <div class="container">
      <div class="global-navbar-header">
        <button id="header-menu-btn" class="global-navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="header-rdc-logo" href="http://www.realtor.com/" class="global-navbar-brand header-rdc-logo" data-omtag="header-menu:network:realtor" data-no-turbolink="true">
          <i class="svg-logo svg-logo-realtor"></i>
        </a>

        <a id="move-network-links" class="move-network-links" data-container="body" data-toggle="popover" data-placement="bottom" data-popover-content="#move-network-popover" data-original-title="" title="">
          <i class="svg-icon svg-icon-down-arrow-circle"></i>
        </a>

        <div id="move-network-popover" class="global-nav-hide">
          <ul class="global-nav-list-unstyled move-network-popover-list">
            <li class="global-nav-clearfix">
              <a href="http://www.realtor.com/international/en" data-omtag="header-menu:network:international">
                <i class="svg-logo svg-logo-international"></i>
                <span>International - Properties in over 36 countries in 11 languages</span>
              </a>
            </li>
            <li class="global-nav-clearfix">
              <a href="http://commercialsearch.realtor.com/" data-omtag="header-menu:network:commerical">
                <i class="svg-logo svg-logo-commercial"></i>
                <span>Commercial - Find office, industrial, retail and other commercial real estate</span>
              </a>
            </li>
            <li class="global-nav-clearfix">
              <a href="http://moving.com/" data-omtag="header-menu:network:moving">
                <i class="svg-logo svg-logo-moving"></i>
                <span>Moving.com - Moving quotes, tips, supplies, and tools</span>
              </a>
            </li>
            <li class="global-nav-clearfix">
              <a href="http://www.seniorhousingnet.com/" data-omtag="header-menu:network:senior">
                <i class="svg-logo svg-logo-seniorhousing"></i>
                <span>SeniorHousingNet.com - Find assisted living, nursing homes, and senior communities</span>
              </a>
            </li>
            <li class="global-nav-clearfix">
              <a href="http://www.doorsteps.com/?utm_source=realtor&amp;utm_medium=top_nav&amp;utm_campaign=rdc_nav/" data-omtag="header-menu:network:doorsteps">
                <i class="svg-logo svg-logo-doorsteps"></i>
                <span>Doorsteps - Start your homebuying process</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="header-login-wrapper">
        <ul class="global-nav global-navbar-nav global-navbar-right">
          <li id="header-login-menu" class="dropdown header-login-menu">
            <a href="https://myaccount.realtor.com/reg/#/signin?return_url=http://localhost:3000/" data-omtag="header-menu:my-account:login">
              <span class="header-login-text">Log In</span>
              <span class="header-login-icon"><i class="svg-icon svg-icon-user"></i></span>
            </a>
            <div class="dropdown-menu dropdown-hover-login dropdown-multicolumn dropdown-hover" role="menu">
              <p class="global-nav-text-center">Log in to save your favorite<br>properties and searches.</p>
              <a class="global-nav-btn global-nav-login-btn" href="https://myaccount.realtor.com/reg/#/signin" data-omtag="header-menu:my-account:login">Log In</a>
              <p class="global-nav-text-center">No account? <a href="#">Sign Up</a></p>
              <span class="divider"></span>
              <h5>For Agents</h5>
              <ul class="global-nav-list-horizontal global-nav-list-style-line">
                <li><a href="#">Log In <i class="svg-icon svg-icon-external"></i></a></li>
                <li><a href="#">Help <i class="svg-icon svg-icon-external"></i></a></li>
                <li><a href="#">Products <i class="svg-icon svg-icon-external"></i></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div id="header-nav-menu" class="nav-menu-desktop">
        <ul class="global-nav global-navbar-nav global-navbar-main-links">

          <li class="dropdown active">
            <a href="http://www.realtor.com/?stype=1" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:buy">Buy</a>
            <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
            <div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
              <div class="dropdown-headline">Updated every 15 mins</div>
              <ul class="global-nav-list-unstyled">
                <li class="dropdown-header"><i class="svg-icon svg-icon-home-for-sale"></i>Homes for Sale</li>
                <li><a href="http://www.realtor.com/realestateforsale" data-omtag="header-menu:buy:all-homes">All Homes</a></li>
                <li> <a href="http://www.realtor.com/newhomes" data-omtag="header-menu:buy:new-homes">New Homes &amp; Communities</a></li>
                <li> <a href="http://www.realtor.com/foreclosure" data-omtag="header-menu:buy:foreclosures">Foreclosures</a></li>
              </ul>
              <ul class="global-nav-list-unstyled">
                <li class="dropdown-header"><i class="svg-icon svg-icon-home-values"></i>Home Values</li>
                <li><a href="http://www.realtor.com/soldhomes" data-omtag="header-menu:buy:recently-sold">Recently Sold</a></li>
                <li><a href="http://www.realtor.com/homevalues" data-omtag="header-menu:buy:property-records">Property Records</a></li>
                <li><a href="http://www.realtor.com/advice/buy" data-omtag="header-menu:buy:home-values:geo-home-buying-tips">Home Buying Tips</a></li>
              </ul>
            </div>
          </li>
          <li class="dropdown">
            <a href="http://www.realtor.com/rentals" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" data-omtag="header-menu:rent">Rent</a>
            <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
            <div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
              <div class="dropdown-headline">Updated every 15 mins</div>
              <ul class="global-nav-list-unstyled">
                <li class="dropdown-header"><i class="svg-icon svg-icon-apt-for-rent"></i>Apartments for Rent</li>
                <li><a href="http://www.realtor.com/rentals?styp=1" data-omtag="header-menu:rent:apartments">Apartments For Rent</a></li>
                <li><a href="http://www.realtor.com/rentals?styp=2" data-omtag="header-menu:rent:condo/townhouses">House/Condo Rentals</a></li>
                <li><a href="http://www.realtor.com/rentals?styp=3" data-omtag="header-menu:rent:all-rentals">All Rentals</a></li>
              </ul>
              <ul class="global-nav-list-unstyled">
                <li class="dropdown-header"><i class="svg-icon svg-icon-trending"></i>Trending</li>
                <li><a href="http://www.realtor.com/advice/rent/" data-omtag="header-menu:rent:advice">Renting Advice</a></li>
                <li><a href="http://www.realtor.com/news/tag/rentals/" data-omtag="header-menu:editorial:news">Latest Renting News</a></li>
                <li><a href="http://www.realtor.com/advice/tag/petspets/" data-omtag="header-menu:rent:advice">Renting With Pets</a></li>
              </ul>
            </div>
          </li>
          <li class="dropdown">
            <a href="http://www.realtor.com/mortgage/" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:finance">Mortgage</a>
            <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
            <div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
              <div class="dropdown-headline">Get the best mortgage for your home</div>
              <ul class="global-nav-list-unstyled">
                <li class="dropdown-header"><i class="svg-icon svg-icon-mortgage"></i>Mortgages</li>
                <li><a href="http://www.realtor.com/mortgage/rates/" data-omtag="header-menu:finance:mortgage-rates">Mortgage Rates</a></li>
                <li><a href="http://www.realtor.com/mortgage/rates/#loan_purpose=refinance" data-omtag="header-menu:finance:mortgage-rates:refinance">Refinance Rates</a></li>
                <li><a href="http://www.realtor.com/advice/finance/" data-omtag="header-menu:finance:advice">Finance Advice</a></li>
                <li><a href="http://www.realtor.com/mortgage/va-home-loan-center/" data-omtag="header-menu:finance:mortgage-rates:veteransHub">For Veterans</a></li>
              </ul>
              <ul class="global-nav-list-unstyled">
                <li class="dropdown-header"><i class="svg-icon svg-icon-mortgage-calculator"></i>Calculator</li>
                <li><a href="http://www.realtor.com/mortgage/tools/mortgage-calculator/" data-omtag="header-menu:finance:calculators:mortgage">Mortgage Calculator</a></li>
                <li><a href="http://www.realtor.com/mortgage/tools/refinance-calculator/" data-omtag="header-menu:finance:calculators:refinance">Refinance Calculator</a></li>
                <li><a href="http://www.realtor.com/mortgage/tools/affordability-calculator/" data-omtag="header-menu:finance-calculators-affordability">What Can I Afford</a></li>
                <li><a href="http://www.realtor.com/mortgage/tools/rent-or-buy-calculator/" data-omtag="header-menu:finance-calculators-rent-vs-buy">Rent vs. Buy Calculator</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="http://www.realtor.com/realestateagents/" data-omtag="header-menu:realtors"><span class="font-size-xsmall">Find</span> Realtors<sup>&reg;</sup></a>
          </li>
          <li class="dropdown">
            <a href="http://www.realtor.com/local/" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:learn">Local</a>
            <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
            <div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
              <div class="dropdown-headline">Find great schools and neighborhoods</div>
              <ul class="global-nav-list-unstyled">
                <li class="dropdown-header"><i class="svg-icon svg-icon-local-info"></i>Local Info</li>
                <li><a href="http://www.realtor.com/local" data-omtag="header-menu:learn:overview">Local Information <span class="display-block">for Neighborhoods &amp; Cities</span></a></li>
              </ul>
            </div>
          </li>
          <li class="dropdown">
            <a href="http://www.realtor.com/news/" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:editorial:news-advice">News &amp; Advice</a>
            <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
            <div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
              <div class="dropdown-headline">Your home for all things real estate</div>
              <ul class="global-nav-list-unstyled">
                <li class="dropdown-header"><i class="svg-icon svg-icon-news"></i><a href="http://www.realtor.com/news/" data-omtag="header-menu:editorial:news">News</a></li>
                <li><a href="http://www.realtor.com/news" data-omtag="header-menu:editorial:latest-news">The Latest News</a></li>
                <li><a href="http://www.realtor.com/news/trends" data-omtag="header-menu:editorial:news-trends">Housing Trends</a></li>
                <li><a href="http://www.realtor.com/news/celebrity-real-estate" data-omtag="header-menu:editorial:news-celebrity">Celebrity Real Estate</a></li>
                <li><a href="http://www.realtor.com/news/unique-homes" data-omtag="header-menu:editorial:news-unique-homes">Unique Homes</a></li>
                <li><a href="http://www.realtor.com/data-portal/realestatestatistics" data-omtag="header-menu:editorial:news-data-center">Data Center</a></li>
              </ul>
              <ul class="global-nav-list-unstyled">
                <li class="dropdown-header"><i class="svg-icon svg-icon-advice"></i><a href="http://www.realtor.com/advice/" data-omtag="header-menu:editorial:advice">Advice</a></li>
                <li><a href="http://www.realtor.com/advice/buy/" data-omtag="header-menu:editorial:advice-Buy">Buy</a></li>
                <li><a href="http://www.realtor.com/advice/sell/" data-omtag="header-menu:editorial:advice-Sell">Sell</a></li>
                <li><a href="http://www.realtor.com/advice/rent/" data-omtag="header-menu:editorial:advice-Rent">Rent</a></li>
                <li><a href="http://www.realtor.com/advice/finance/" data-omtag="header-menu:editorial:advice-Finance">Finance</a></li>
                <li><a href="http://www.realtor.com/advice/move/" data-omtag="header-menu:editorial:advice-Move">Move</a></li>
                <li><a href="http://www.realtor.com/advice/home-improvement/" data-omtag="header-menu:editorial:advice-homeImprov">Home Improvement</a></li>
                <li><a href="http://www.realtor.com/advice/for-pros/" data-omtag="header-menu:editorial:advice-Pros">For Pros</a></li>
                <li><a href="http://www.realtor.com/advice/guides/va-loan/" data-omtag="header-menu:advice:guide:veterans">Veterans Home Buying Guide</a></li>
              </ul>
            </div>
          </li>
        </ul>

        <ul class="global-nav global-navbar-nav global-navbar-right global-navbar-side-links">
          <li id="header-mobile-menu" class="dropdown">
            <a href="http://www.realtor.com/mobile" class="dropdown-toggle disabled mobile-dropdown-icon" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:mobile">
              <i class="svg-icon svg-icon-mobile-menu-toggle"></i>
              <span class="text-mobile-menu-toggle">Mobile Apps</span>
            </a>
            <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
            <div class="dropdown-menu dropdown-hover dropdown-mobile-link" role="menu">
              <ul class="global-nav-list-unstyled">
                <li>
                  <i class="svg-icon svg-icon-app-mobile link-icon"></i>
                  <div class="link-icon-content">
                    <a class="mobile-link-title" href="http://www.realtor.com/mobile?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:core">Realtor.com<sup>&reg;</sup> mobile apps</a>
                    Find homes for sale or rent on<br>iPhone, iPad, and Android
                  </div>
                  <div class="global-nav-clearfix"></div>
                </li>
                <li class="divider"></li>
                <li>
                  <i class="svg-icon svg-icon-app-realtor link-icon"></i>
                  <div class="link-icon-content">
                    <a class="mobile-link-title" href="http://www.realtor.com/mobile?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:core">Realtor.com<sup>&reg;</sup> Real Estate</a>
                    <ul class="global-nav-list-horizontal global-nav-list-style-line">
                      <li><a href="https://itunes.apple.com/us/app/realtor.com-real-estate-homes/id336698281?mt=8" data-omtag="header-menu:mobile:ios-core">iOS</a></li>
                      <li><a href="http://c00.adobe.com/b2d5a4e1-adc8-4a1d-a2b3-d5c186e399ba/dsp_rdc_mobile_uni-header/g/com.move.realtor" data-omtag="header-menu:mobile:android-core">Android</a></li>
                      <li><a href="http://apps.microsoft.com/windows/en-us/app/real-estate-search-by-realtor/ec047c00-1692-4e8f-8a62-1877d1716b24" data-omtag="header-menu:mobile:windows-core">Windows</a></li>
                    </ul>
                  </div>
                  <div class="global-nav-clearfix"></div>
                </li>
                <li>
                  <i class="svg-icon svg-icon-app-rentals link-icon"></i>
                  <div class="link-icon-content">
                    <a class="mobile-link-title" href="http://marketing.realtor.com/rental-app/?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:rentals">Realtor.com<sup>&reg;</sup> Rentals</a>
                    <ul class="global-nav-list-horizontal global-nav-list-style-line">
                      <li><a href="https://itunes.apple.com/us/app/realtor.com-rentals-apartments/id639619979?ls=1&amp;mt=8" data-omtag="header-menu:mobile:rentals-ios">iOS</a></li>
                      <li><a href="https://play.google.com/store/apps/details?id=com.move.rentals" data-omtag="header-menu:mobile:rentals-android">Android</a></li>
                    </ul>
                  </div>
                  <div class="global-nav-clearfix"></div>
                </li>
                <li>
                  <i class="svg-icon svg-icon-app-mortgage link-icon"></i>
                  <div class="link-icon-content">
                    <a class="mobile-link-title" href="http://www.realtor.com/mobile?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:mortgage">Realtor.com<sup>&reg;</sup> Mortgage Calculator</a>
                    <ul class="global-nav-list-horizontal global-nav-list-style-line">
                      <li><a href="https://itunes.apple.com/us/app/realtor.com-real-estate-homes/id875060754?mt=8" data-omtag="header-menu:mobile:ios-mortgage">iOS</a></li>
                      <li><a href="https://play.google.com/store/apps/details?id=com.move.mortgage" data-omtag="header-menu:mobile:android-mortgage">Android</a></li>
                    </ul>
                  </div>
                  <div class="global-nav-clearfix"></div>
                </li>
                <li>
                  <i class="svg-icon svg-icon-app-doorsteps link-icon"></i>
                  <div class="link-icon-content">
                    <a class="mobile-link-title" href="http://www.realtor.com/mobile?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:doorsteps">Doorsteps Swipe<sup>&trade;</sup></a>
                    <ul class="global-nav-list-horizontal global-nav-list-style-line">
                      <li><a href="https://itunes.apple.com/app/id839814107" data-omtag="header-menu:mobile:ios-swipe">iOS</a></li>
                    </ul>
                  </div>
                  <div class="global-nav-clearfix"></div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div id="header-nav-overlay" class="full-overlay"></div>



  <div style="height:300px;"></div>


<div id="footer" class="global-nav-footer">

  <div class="footer-wrapper-social">
    <div class="container">
      <div class="footer-links-social">
        <ul id="footer-links-social" class="global-nav-list-justified">
          <li><a href="https://twitter.com/REALTORdotcom" data-omtag="footer:social:tw"><i class="svg-icon svg-icon-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/realtor.com" data-omtag="footer:social:fb"><i class="svg-icon svg-icon-facebook"></i></a></li>
          <li><a href="https://plus.google.com/+REALTORdotcom/posts" data-omtag="footer:social:gp"><i class="svg-icon svg-icon-google-plus"></i></a></li>
          <li><a href="https://www.pinterest.com/realtordotcom/" data-omtag="footer:social:pt"><i class="svg-icon svg-icon-pinterest"></i></a></li>
        </ul>
      </div>
      <div class="footer-links-network">
        <a id="footer-link-houselogic" href="http://www.houselogic.com/?nicmp=hlim%26nichn=footerlink%26niseg=rc" data-omtag="footer:partners:houseLogic"> <i class="svg-logo svg-logo-houselogic"></i> </a>
        <a id="footer-link-realtoru" href="http://www.realtoru.com/about/" data-omtag="footer:partners:realtorUniv"> <i class="svg-logo svg-logo-realtoru"></i> </a>
      </div>
    </div>
  </div>

  <div class="footer-wrapper-links-main">
    <div class="container">
      <ul id="footer-links-primary" class="global-nav-list-horizontal">
        <li><a href="http://marketing.move.com/" data-omtag="footer:corp:about">About Us</a></li>
        <li><a href="https://ch.tbe.taleo.net/CH11/ats/careers/searchResults.jsp?org=MOVE&amp;cws=1" data-omtag="footer:corp:careers">Careers</a></li>
        <li><a href="#" id="global-nav-feedback" data-omtag="footer:corp:feedback">Feedback</a></li>
        <li><a href="http://news.move.com/" data-omtag="footer:corp:mediaRoom">Media Room</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-wrapper-links-secondary">
    <div class="container">
      <ul id="footer-links-secondary" class="global-nav-list-horizontal">
        <li><a href="http://www.move.com/company/privacy.aspx#oba_anchor" data-omtag="footer:corp:ad-choices">Ad Choices</a></li>
        <li><a href="http://marketing.realtor.com/advertise/" data-omtag="footer:corp:advertise">Advertise with us</a></li>
        <li><a href="http://support.realtor.com/#iid=rdc_hdr_realtors_support" data-omtag="footer:corp:agentSupport">Agent support</a></li>
        <li>
          <a id="toggle-products" rel="popover" href="javascript:void(0)" data-placement="top" data-popover-content="#footer-popover-products" data-original-title="" title=""> Products </a>
          <div id="footer-popover-products" class="global-nav-hide footer-popover-content">
            <ul class="global-nav-list-unstyled">
              <li><a href="http://www.listhub.com/home.html" data-omtag="footer:products:listHub">ListHub</a></li>
              <li><a href="http://www.tigerlead.com/" data-omtag="footer:products:tigerlead">TigerLead</a></li>
              <li><a href="http://www.topproducer.com/" data-omtag="footer:products:topProducer">Top Producer</a></li>
              <li><a href="http://www.homefair.com/" data-omtag="footer:partners:homeFair">Homefair</a></li>
              <li><a href="http://www.homeinsight.com/" data-omtag="footer:partners:homeInsight">Home Insight</a></li>
              <li><a href="http://www.move.com/" data-omtag="footer:partners:move">Move.com</a></li>
              <li><a href="http://www.relocation.com/" data-omtag="footer:partners:relocation">Relocation</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="http://www.move.com/company/privacy.aspx" data-omtag="footer:corp:privacy">Privacy</a> / <a href="http://marketing.move.com/terms-of-service/" data-omtag="footer:corp:terms">Terms</a>
        </li>
        <li><a href="http://www.realtor.com/sitemap.asp" data-omtag="footer:corp:sitemap">Sitemap</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-wrapper-copyright">
    <div class="container">
      <p id="footer-copyright">
        &copy;1995-2015 <a href="http://www.realtor.org" data-omtag="footer:corp:nar">National Association of REALTORS<sup>&reg;</sup></a> and <a href="http://www.move.com/">Move, Inc.</a> All rights reserved.<br>
        realtor.com<sup>&reg;</sup> is the official site of the National Association of REALTORS<sup>&reg;</sup> and is operated by Move, Inc., a subsidiary of News Corp.
      </p>
    </div>
  </div>

</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.0.js"></script>


  <!--
  <script src="jquery/jquery-2.1.4.js"></script>

  <script src="js/dropdown-custom.js"></script>
  <script src="js/tooltip.js"></script>
  <script src="js/popover.js"></script>
  <script src="js/global-header.js"></script>
  <script src="js/global-footer.js"></script>
  -->

  <script src="js/dist/combined.js"></script>

  <!--  <script src="js/dist/global-nav.min.js"></script>-->


</body>
</html>
